Document_Ingestion.json
{
  "name": "Verde Valley Stays (Document Ingestion)",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf",
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -784,
        -128
      ],
      "id": "bda05732-17ca-4055-bfc3-1d86acbdd864",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o4Ab6kDmH6fwi2f8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "guest_info",
          "mode": "list",
          "cachedResultName": "guest_info"
        },
        "embeddingBatchSize": 250,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -592,
        -128
      ],
      "id": "e348ee19-0274-4f96-9637-bbe34f5e5105",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "0aBuPoQpYSudWGK7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -640,
        64
      ],
      "id": "7b52d229-f181-4e80-901a-16db77c8e933",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "lx95WT6pljZFkLQZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "fileName",
                "value": "={{ $json.name }}"
              },
              {
                "name": "date",
                "value": "={{ $now }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -448,
        80
      ],
      "id": "dc3a22bd-02db-4ea4-923f-f28cea25cda5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1TQNOvkcyPlvdZyztQrZb64fp947Xe6v5",
          "mode": "list",
          "cachedResultName": "RAG Chatbot",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1TQNOvkcyPlvdZyztQrZb64fp947Xe6v5"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -992,
        -128
      ],
      "id": "c1417d6d-0d46-4011-ac52-be35f3074ff2",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o4Ab6kDmH6fwi2f8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 250,
        "chunkOverlap": 30,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -352,
        208
      ],
      "id": "c58d3823-0ab9-4e04-8136-2e59512d8a9b",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1FxV6cEFGyI9zg80LXThaLDs8nEeWYxnd",
          "mode": "list",
          "cachedResultName": "Recycling Bin",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1FxV6cEFGyI9zg80LXThaLDs8nEeWYxnd"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -928,
        608
      ],
      "id": "19173b45-bea0-4769-beb4-0651476cbde2",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o4Ab6kDmH6fwi2f8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "guest_info",
        "filterType": "string",
        "filterString": "=metadata->>fileName=like.* {{ $json.name }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -720,
        608
      ],
      "id": "de31d24f-b7cd-4552-b609-e608d4c895d0",
      "name": "Delete a row",
      "credentials": {
        "supabaseApi": {
          "id": "0aBuPoQpYSudWGK7",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d10188649342c4209d250d248325830920cc30c6f97796d721bf7a06a520016"
  }
}